<!-- SCSS FILE: _resource-detail.scss -->

<section id="resource-container"></section>

<h1>THIS IS RESOURCE DETAIL TEMPLATE</h1>
<h4>When NOT logged in: NO COMMENTS</h4>
<h4>When logged in: NO COMMENTS</h4>

<p>
  This will be the template we map a RESOURCE against and will be displayed on
  both the homepage and in the user's collection
</p>


<ul><li><%= url %></li>
  <li><%= title %></li>
  <li><%= description %></li>
  <li><%= favicon %></li>
  <li><%= user_id %></li></ul>


