<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ALL SCRIPTS, STYLESHEETS ETC. -->
    <% include ./partials/_scripts %>

  <title>View Your Resource</title>

</head>

<body>

  <div class="wrapper">
    <!-- Sidebar Holder -->
    <div id="sliding-sidebar">
      <% include ./partials/_sliding-sidebar %>
    </div>

    <!-- Page Content Holder -->
    <div id="content" style="margin: 0 auto; width:100%">
    <!-- <div id="resource-content"> -->

        <div id="top-nav">
            <% include ./partials/_nav-bar %>
        </div>
     

      <div id="test">
        <span id="comments"></span>
        <input type="hidden" val="<%=id%>" id="resourceid" name="resourceid">
      </div>

      <div class="container""> 

<div class="row">
        <div class="col-6">

            <img src="<%= favicon %>">
            <p><a href="/" class="mt-10">< Back to all collections</a></p>

        </div>
  
        <div class="col-6">
        

            <ul class="resource-page-list">
                <li><h1 class="resource-title pb-1"><%= title %></h1></li>
                <li>
                  <a href="<%= url %>" class="resource-url mb-0"><%= url %></a>
                </li>
                <li>
                  <p class="created-by">
                    Created on <%= user_id %>3/<%= user_id %>4/2<%= user_id %>
                  </p>
                </li>
                <li><p class="resource-description"><%= description %></p></li>
              </ul>


              <div class="rating-form">
                  <form class="rate" action="/api/engagements/rating" method="POST">
                    <button
                      class="rate-button btn-sm btn-success btn-secondary submit-comment" style="margin-left: 5px;margin-top:7px"
                      type="submit"
                      name="rate"
                    >
                      Rate
                    </button>
                    <input
                      type="hidden"
                      value="<%=id%>"
                      id="resourceid"
                      name="resourceid"
                    />
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                  </form>
                </div>

              </br>


              <form
              class="form-group hack comment"
          
            >
              <label for="commentInput" class="comment-prompt"
                ><p>Any thoughts to share?</p></label
              >
              <input
                type="hidden"
                value="<%=id%>"
                id="resourceid"
                name="resourceid"
              />
              <input
                type="text"
                class="commentForm form-control size-box"
                id="commentForm"
                name="comment"
                placeholder="Please leave a comment"
              />
              <button
                type="submit"
                class="btn btn-primary btn-lg btn-block submit-comment"
                name="comment"
              >
                Submit
              </button>
            </form>


            <div id="comment-box">
                <span id="comments"></span>
                <input type="hidden" val="<%=id%>" id="resourceid" name="resourceid">
              </div>

</div>

</div>









    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
 
  </body>
</html>
