<!DOCTYPE html>
<html lang="en">

<head>

  <!-- ALL SCRIPTS, STYLESHEETS ETC. -->
  <% include ./partials/_scripts %>

  <title>Resource Manager</title>

</head>

<body>

  <div class="wrapper">
    <!-- Sidebar Holder -->

      <div id="sliding-sidebar">
        <% include ./partials/_sliding-sidebar %>
      </div>

    <!-- Page Content Holder -->
    <div id="content" style="margin: 0 auto; width: 100%">

        <div id="top-nav">
            <% include ./partials/_nav-bar %>
        </div>

          <br/><br/><br/><br/><br/><br/>

          <div id="test">
            <span id="comments"></span>
            <input type="hidden" val="<%=id%>" id="resourceid" name="resourceid">
          </div>


            <ul style="list-style-type: none;"><li>URL - <a href="<%= url %>"><%= url %></a></li>
              
              <li>Title - <%= title %></li>
              <li>Description  - <%= description %></li>
              <img src="<%= favicon %>">
              <li>User ID - <%= user_id %></li></ul>
              <br/>
              <form>
                <div class="form-group">
                  <label for="commentInput">Comment</label>
                  <input type="text" class="commentForm" id="commentForm" placeholder="Please leave a comment">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <br/>
               
                
              </form>



             

    


    







  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>


</body>

</html>