<!DOCTYPE html>
<html lang="en">

<head>

  <!-- ALL SCRIPTS, STYLESHEETS ETC. -->
  <% include ./partials/_scripts %>

  <title>Resource Manager</title>

</head>

<body>

  <div class="wrapper">
    <!-- Sidebar Holder -->

      <div id="sliding-sidebar">
        <% include ./partials/_sliding-sidebar %>
      </div>

    <!-- Page Content Holder -->
    <div id="content" style="margin: 0 auto; width: 100%">

        <div id="top-nav">
            <% include ./partials/_nav-bar %>
        </div>

       

          <div id="test">
            <span id="comments"></span>
            <input type="hidden" val="<%=id%>" id="resourceid" name="resourceid">
          </div>

          <div class="row">

              <div class="col-4">
                  <img src="<%= favicon %>">
              </div>
                 
              
                    
            



              <div class="col-6">
                  
               <ul class="resource-page-list"> 
              <li ><h1 class="resource-title pb-1"><%= title %></h1></li>
              <li><a href="<%= url %>" class="resource-url mb-0"><%= url %></a></li>
              <li><p class="created-by">Created on <%= user_id %>3/<%= user_id %>4/2<%= user_id %></p></li>


              <li><p class="resource-description"><%= description %></p> </li>
              
              </li></ul>
       
              <form>
                  <div class="form-group hack">
                    <label for="commentInput" class="comment-prompt"><p>Any thoughts to share?</p></label>
                    <input type="text" class="commentForm form-control size-box" id="commentForm" placeholder="Please leave a comment">
                    
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                  </div>
                  <br/>

                  
          </form>
              
              

              </div>

          

                 
                  
            
              
            
            
            </div>


           


              
           
            
              
              <br/>




             

    


    







  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>


</body>

</html>